
.header {
	width: 100%;
    height: 120px;
    border: 4px solid black;
    color: white;
    background: black;
}

.game-logo {
    display: inline-block;
    width: 20%;
    height: 73%;
    margin-left: 3%;
    margin-top: 1%;
    border: 1px solid black;
}
.pikachu-logo {
    width: 80px;
}

.reset-button {
    height: 16%;
    width: 13%;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    top: 45%;
    left: 26%;
}

.header h1 {
    display: inline-block;
    position: absolute;
    padding-left: 9%;
    padding-top: 3%;
    margin: 0px;
    font-size: 2em;
}

.game-info {
    height: 80vh;
    width: 12vw;
    background: rgb(255, 0, 11);
    color: white;
    border: 4px solid black;
    margin-top: 2%;
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 3%;
    display: inline-block;
    float: left;
    font-size: 1em;
}
.game-info p {
    line-height: 500%;
    font-size: 17px;
}

.game-area {
    width: 72vw;
    height: 100vh;
    max-width:1000px;
    display: inline-block;
    color: white;
    margin-top: 5%;
    margin-left: 3%;
    padding-bottom: 2%;
}
.card_container {
    position: relative;
    display: inline-block;
    height: 150px;
    width: 110px;
    margin-left: 3%;
    margin-top: 4%;
}
.card{
    height: 170px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.card-front {
    width: 109px;

}
.card-hidden{
    display: none;
}
.card-match{
    display: none;
}